---
layout: default
---
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">

            <!-- Work -->
            {% if site.data.author.workHistory %}
                <h3 class="title with-icon">
                <span class="glyphicon glyphicon-plane cat-title"></span>
                Work History
                </h3>
                <ul class="timeline">

                    {% include workhistory.html %}

                </ul>
            {% endif %}
            <!-- Work -->

            <!-- Education -->
                {% if site.data.author.educationHistory %}
                    <h3 class="title with-icon"><span class="fa fa-book cat-title"></span>Education History</h3>
                    <ul class="timeline">
                {% include education.html %}
                </ul>
                {% endif %}
            <!-- Education -->
        </div>

        <div class="col-md-4">

          <!-- programmingSkills -->
          {% if site.data.author.programmingSkills %}
                <h3 class="title with-icon"><span class="fa fa-code cat-title"></span> Programming Skills</h3>

                {% if site.data.author.programmingSkills %}
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for programmingSkill in site.data.author.programmingSkills %}
                            <li>
                                {% if programmingSkill.name %}
                                    <span class="caption-skill">{{ programmingSkill.name }}</span>
                                {% endif %}
                                {% if programmingSkill.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ programmingSkill.percentage }}">
                                            <span>{{ programmingSkill.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
          {% endif %}
          <!-- programmingSkills -->
          <!-- Frameworks -->
          {% if site.data.author.frameworks %}
                <h3 class="title with-icon"><span class="fa fa-cogs cat-title"></span> Frameworks</h3>

                {% if site.data.author.frameworks %}
                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                        {% for framework in site.data.author.frameworks %}
                            <li>
                                {% if framework.name %}
                                    <span class="caption-skill">{{ framework.name }}</span>
                                {% endif %}
                                {% if framework.percentage %}
                                    <div class="progress">
                                        <div class="progress-bar" style="width: {{ framework.percentage }}">
                                            <span>{{ framework.percentage }} </span>
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
          {% endif %}
          <!-- Frameworks -->
        <!-- Languages -->
            {% if site.data.author.languages %}
                <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-globe cat-title"></span> Language Skills</h3>
                <div class="grid-block">
                    <ul class="list-unstyled list-strip">
                        {% include languages.html %}
                    </ul>
                </div>
            {% endif %}
        <!-- Languages -->

        <!-- Location -->
        <!--     <div class="deviter"></div>
        <h3 class="title with-icon"><span class="fa fa-location-arrow cat-title"></spLocation</h3> -->
        <!-- <div class="grid-block">
            <iframe src="https://www.google.com/maps/embed/v1/place?qsite.data.author.address }}&key=AIzaSyClEWLh20lxrQBFR7omuuVESviszPxONwidth="100%" height="100%" frameborder="0" style="border:0"></iframe>
        </div> -->
        <!-- Location -->

        </div>
    </div>
</div>
